## use ndarrays to create a new dataframe

In [32]:
import numpy as np
import pandas as pd

ndarray_data = np.array([
    ['Google', 10],
    ['Runoob', 12],
    ['Wiki', 13]
])

df = pd.DataFrame(ndarray_data, columns=['Site', 'Age'])
print(df)

     Site Age
0  Google  10
1  Runoob  12
2    Wiki  13

## use dict to create a new dataframe

In [37]:
import pandas as pd 

data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['NY', 'SF', 'LA']
}

df = pd.DataFrame(data)
print(df)

print("______")

data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

df = pd.DataFrame(data)

print (df)

      name  age city
0    Alice   25   NY
1      Bob   30   SF
2  Charlie   35   LA
______
   a   b     c
0  1   2   NaN
1  5  10  20.0

## loc

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['NY', 'SF', 'LA']
}
df = pd.DataFrame(data)

# This is what the DataFrame looks like:
#      name  age city
# 0   Alice   25   NY
# 1     Bob   30   SF
# 2  Charlie  35   LA

# Using df.loc[0] will return the first row:
print(df.loc[0])
# Output:
# name    Alice
# age        25
# city       NY

name    Alice
age        25
city       NY
Name: 0, dtype: object

In [ ]:
# get specific row and column
df.loc[0, 'name']

'Alice'

In [ ]:
df.loc[0:1]

    name  age city
0  Alice   25   NY
1    Bob   30   SF

## Retrieve Multiple Rows

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

# return the first and second row
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [45]:
# set the sepcific index
df = pd.DataFrame(data, index=['day1', 'day2', 'day3'])

print(df)

print("______")

print(df.loc['day2'])

      calories  duration
day1       420        50
day2       380        40
day3       390        45
______
calories    380
duration     40
Name: day2, dtype: int64

## Common Operations

### head()

return the first n rows (default is 5)

In [47]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

print(df.head())

   calories  duration
0       420        50
1       380        40
2       390        45